#Job {
    height: 420px;
    width: 420px;
    z-index: 999999999999999;
    position: absolute;
    top: 30px;
    right: 10px;
    background-color: white;
    box-shadow: 0px 0px 2px black;
}

#Job:hover {
    box-shadow: 0px 0px 5px black;
}

#header {
    height: 8%;
    width: 100%;
    cursor: move;
    background-color: #1E90FF;
}

#iframe {
    height: 92%;
    width: 100%;
}